@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.writing-vertical {
  writing-mode: vertical-lr;
}

html {
  scroll-behavior: smooth;
}
